<!DOCTYPE html>
{% load static %}
<meta charset="UTF-8">
<html>
	<head>
	<title>The North</title>	
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/ico" href="{% static 'imagens/blackstar.png' %}">
	</head>

	<body background="{% static 'imagens/journal.jpg' %}" style="background-size:contain">
        <div class="container"><br></br>
            <nav class="barradnav">
                    <div class="fonte1"> 
                        <a href="Index.html">Introdução</a>          
                        <a href="Feitos.html">Feitos de ambas as partes</a>
                        <a class="ativo" href="Dedicatoria.html">Dedicatória</a>
                    </div><!-- fim da fonte1 -->
            </nav> <!-- fim da barra de navegação -->
            <div class="blococentral2">EM HOMENAGEM À TODOS AQUELES QUE MORRERAM PARA QUE O HOMEM CHEGASSE MAIS LONGE</div>
            <div class="blococentraldedica">
                <div class="fonte1">
                    <p>A cadela russa Laika foi lançada ao espaço a bordo da nave soviética Sputnik 2, em 3 de novembro de 1957, um mês depois do lançamento do satélite Sputnik 1.<div class="clear"></div><br></br>
                    <p>Laika morreu entre cinco e sete horas depois do lançamento, bem antes dos "planejados" 7 dias de missao.<div class="clear"></div>
                    <p>A causa da sua morte, que fora revelada décadas depois, foi uma combinação de estresse e superaquecimento.
                    <p>A nave soviética explodiu (junto com os restos de Laika) ao entrar em contato com a atmosfera, em 14 de abril de 1958, após 163 dias e 2570 órbitas em volta da Terra.
                    <img src="{% static 'imagens/laika.jpg' %}" class="blocodeimagem">
                    <p>Depois de Laika, nenhuma outra missão tripulada por cães foi lançada sem que existisse um sistema para o retorno seguro do animal.<br></br>
                    <p>Apesar do acidente, essa experiência demonstrou ser possível para um animal suportar as condições de microgravidade, abrindo caminho assim para participação humana em voos espaciais.<div class="clear"></div>
                </div> <!-- fim -->
            </div> <!-- fim -->
            <div class="blococentraldedica">
                <div class="fonte1">
                    <p> Com 28 missões bem sucedidas, o onibus espacial Columbia se deparaou com um falha em seu lançamento que danificou a proteção térmica de suas asas para sua reentrada na terra.<div class="clear"></div> 
                    <p>o calor da reentrada desintegrou, gradualmente, a estrutura da asa esquerda. O ônibus espacial perde estabilidade, a asa esquerda solta-se da estrutura, Columbia desintegra-se no ar e mais de 80 mil fragmentos caem sobre os Estados do Texas e Louisiana.<div class="clear"></div>
                    <img src="{% static 'imagens/teacher.jpg' %}" class="blocodeimagem">
                    <p> Os 7 astronautas estão mortos, incluindo uma professora.
                </div> <!-- fim -->
            </div> <!-- fim -->
            <div class="blococentraldedica">
                <div class="fonte1">
                    <p> Em 27 de Janeiro de 1967, ocorreu um acidente com a cabine de comando da apollo 1 durante testes no solo e todos os 3 tripulantess morreram.<div class="clear"></div>Queimados.
                    <p>Como resultado desse acidente, toda programação do projeto Apollo foi atrasada em vinte e um meses e cerca de 1300 alterações foram feitas.
                    <img src="{% static 'imagens/apollo1.jpeg' %}" class="blocodeimagem">
                    <p>Virgil Ivan 'Gus' Grissom, Ed White e Roger Chaffee<br></br>
                    <P>Para Roger Chaffee esta foi a primeira e única missão dele no espaço.
                </div> <!-- fim da fonte1 -->
            </div> <!-- fim blococentraldedica -->
            <div class="blococentraldedica">
                <div class="fonte1">
                    <p>Em sua segunda missao, komarov realizou um voo espacial abordo da nave Soyuz 1 em 23 de abril de 1967, um voo repleto de problemas.<br></br> Voltando para terra, o paraquedas princial da cápsula de reentrada nao abriu e ela explodiu com o impacto no solo, matando Komarov.<br></br> Pouco antes de morrer Komarov fora comunicado de que seu país estava orgulhoso dele, sua resposta, apesar de ser alegada inaudível, há rumores de que ele morreu maldizendo os construtores da nave e o controle de terra.<div class="clear"></div> A nave Soyuz nunca deveria ter partido, mas a pressão de líderes políticos soviéticos de que queriam uma grande missão espacial em comemoração do aniversário de <span id="enfase2">Lênin</span> fez com que fosse lançada assim mesmo.
                <img src="{% static 'imagens/vladimirkomarov.jpg' %}" class="blocodeimagem">
                <p> Vladimir recebera posteriormente honrarias em sua homenagem, sendo uma delas uma placa com seu nome em solo lunar.
                </div><!-- fum fonte1 -->
            </div> <!-- fim blococentraldedica -->
            <div class="blococentraldedica">
                <div class="fonte1">
                    <p>Lançada em 6 de Junho de 1971, a nave Soyuz acoplou com sucesso na Salyut 1 com sucesso no dia 7 e mantiveram a bordo por 22 dias, marcando recorde de permanência no espaço. Expostos à altos níveis de radiação solar, o grupo começou a passar mal e depois colapsaram. Em 30 de junho de 1971, após aterrisar com sucesso, a equipe de resgate abriu a cápsula e encotrou o grupo morto. Aparentemente eles sofreram de asfixia devido a uma falha em uma válvula com menos de 1mm de diâmetro no módulo de descida.
                <img src="{% static 'imagens/soyuz-11.jpg' %}" class="blocodeimagem">
                    <p>Vladislav Volkov, Georgi Dobrovolski e Viktor Patsayev
                    <P>Para Dobrovolski e Patsayev esta foi a primeira e única missão deles no espaço.
                </div><!-- fim fonte1 -->
            </div> <!-- fim blococentraldedica -->
        </div><!-- fim do container -->
    </body>

    <embed id="Hino URSS" autobuffer="" loop="true" preload="auto" src="{% static '/som/National anthem of the Soviet Union - 1944 version.mp3' %}" loop="true" hidden="true" autostart="true"></embed>
</html>
