<!DOCTYPE html>
{% load static %}
<meta charset="UTF-8">

<html>
	<head>
	<title>The North</title>	
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/ico" href="{% static 'imagens/blackstar.png' %}">
	</head>

	<body background="{% static 'imagens/stars.png' %}">
        <div class="container">

        <div id="logo"> <a href="Index.html"> <img src="imagens/logo.png"/> </a> </div>

	<div class="bloco-titulo"><h1 class="titulo" align="center">Comparações entre USA & CCCP </h1></div>
	<div class="clear">	</div>
        
	<nav class="barradnav">
		<div class="fonte1"> 
                	<a href="Index.html">Home</a>          
                        <a class="ativo" href="Feitos.html">Feitos de ambas as partes</a>
			<a href="Dedicatoria.html">Dedicatória</a>
        	</div><!-- fim da fonte1 -->
        </nav> <!-- fim da barra de navegação -->

            <div class="tabela">
                <table>
                    <thead><tr><th colspan="2">Nações</th></tr></thead>
                    <tbody>

                        <th>TODO</th>
                        <th>TODO</th>

                    </tbody>
                </table>

        </div>
	</body>


</html>
