<!DOCTYPE html>

{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<audio id="Hino URSS" loop="true" preload="auto" autoplay src="{% static '/som/National anthem of the Soviet Union - 1944 version.mp3' %}" hidden="true"> </audio>

<html>
	<head>
		<title>The North</title>	
        <link rel="stylesheet" type ="text/css" href="{% static '/css/base.css' %}">
        <link rel="icon" type="image/ico" href="{% static '/imagens/blackstar.png' %}">
	</head>

	<body background="{% static '/imagens/stars.png' %}">
        
	<div class="container">
        <div id="logo"> <a href="/"> <img class="responsive" src="{% static '/imagens/logo.png' %} "> </a> </div>
        <div class="bloco-titulo">
            <h1 class="titulo" align="center">
        <!--texto-->   Corrida Espacial: o lado
                        <button onclick=location.href="нераскрытым" class="button">
        <!--texto-->           secreto
                        </button>
        <!--texto-->   da história, o lado soviético. A história do N1.
            </h1>  <!-- fim do titulo -->
        </div> <!-- fim do bloco-titulo -->
        <div class="clear"></div>

        <nav class="barradnav">
            <div class="fonte1"> 
                <a class="ativo" href="/">Home</a>          
<!--                <a href="feitos/">Feitos de ambas as partes</a> -->
                <a href="dedicatoria">Dedicatória</a>
            </div><!-- fim da fonte1 -->
        </nav> <!-- fim da barra de navegação -->
            
	    <a href="dedicatoria">
            <div class="blocodireito">
                <div class="type19">
                    <h1> Dedicatória </h1>
                    <br>
                    <p> Este trabalho possui uma dedicatória em memória de todos aqueles que morreram em virtude da ciência para o caminho às estrelas.</p>
                    </div> <!-- fim type19 -->
                </div> <!-- fim do blocodireito -->
        </a> <!-- fim link no bloco -->
        <div class="blococentral">
        <div class="typeblococentral">
                    <br><p> Sabemos que o homem foi a lua, e foi em um foguete americano.</p><br><br><p> Todos pensam que os americanos ganharam a corrida espacial por este feito e poucos sabem quais foram as conquistas da concorrência, tal como os da União Soviética. </p><br><p> Eu trouxe um pouco sobre as conquistas da CCCP junto com os do USA para fazer com que você julgue quem realmente ganhou a corrida espacial.</p><br>
        </div> <!-- fim da typeblococentral -->            
        </div> <!-- fim blococentral -->
        </div><!-- fim do container -->
    </body>
</html>
